@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Roboto, 'sans-serif';
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}

header {
  grid-row-start: 1;
  background-color:#475569;
  display: grid;
  justify-content: center;
  align-items: center;
  color:rgb(252, 252, 252);
  font-weight: bold;
  font-size: 16px;
}
main {
  grid-row-start: 2;
  background-color:#cbd5e1;
  display: grid;
  grid-template-rows: 1fr 5fr;
}
.add-a-book {
  display: grid;
  justify-content: center;
  grid-row-start: 1;
  width: 100%;
  padding: 30px;
}

.add-a-book button {
  width: 150px;
  height: 50px;
  font-size: 16px;
  border-radius: 3px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #475569;
  color:  rgb(252, 252, 252);
  cursor: pointer;
  transition: 0.15s;
}

.add-a-book button:hover {
  border: #475569 2px solid;
  outline: none;
  background-color: rgb(252, 252, 252);
  color: #475569;
  opacity: 0.8;

}

.add-a-book button:active {
  opacity: 0.5;
}

.content {
  grid-row-start: 2;
  position: relative;
  padding: 30px;
}
footer {
  grid-row-start: 3;
  background-color:#475569;
  display: grid;
  justify-content: center;
  align-items: center;
  color:rgb(252, 252, 252);
  font-weight: bold;
  font-size: 16px;
}

#dialog {
  width: 450px;
  height:450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e3e4e6;
  border: 2px solid #475569;
  border-radius: 3px;
 
 
}


#dialog form {
  padding: 10px 10px 30px 10px;

}

input[type="text"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  border-radius: 3px;
  outline: none;
  border: none;
  font-size: 16px;
  color: rgb(31, 31, 31);
  box-shadow: 0px 2px 3px rgb(167, 166, 166);
  
}

input[type="text"]:focus {
  border: 2px solid #475569;
}


input[type="text"]:invalid {
  border: 2px solid red;

}

.buttonsflex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;

}

.buttonsflex button{
  width: 120px;
  height: 40px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.cancelbtn{
  background-color: black;
  color: rgb(252, 252, 252);
  border: none;
  transition: 0.15s;

}
.cancelbtn:hover {
  color: black;
  background-color: rgb(252, 252, 252);
  border: 2px solid black;
  opacity: 0.8;
}

.submitbtn {
  color: white;
  background-color:#0284c7;
  border: none;
  transition: 0.15s;
}
.cancelbtn:active,.submitbtn:active {
  opacity: 0.5;
}

fieldset {
  padding: 10px 30px;
}

.list-of-books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap: 15px;
}

.list-of-books .card {
  height: 200px;
  background-color: #f1f5f9;
  border-radius: 7px;
  padding: 10px 30px;
  border-left: #475569 8px solid;
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 15px;
}

.card .details {
  grid-row-start: 1;

}

.card .buttons-book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-row-start: 2;
}

.buttons-book button {
  width: 120px;
  height: 40px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;

}

.read-or-not-button {
  background-color: rgb(7, 156, 7);
  color: rgb(252, 252, 252);

}

.remove-button {
  background-color: rgb(241, 28, 28);
  color: rgb(252, 252, 252);
}

.read-or-not-button:hover, .remove-button:hover {
  opacity: 0.8;
}

.read-or-not-button:active, .remove-button:active {
  opacity: 0.5;
}








