@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  box-sizing: border-box;
  font-family: Roboto, 'sans-serif';
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
}
nav{
  grid-row-start: 1;
  display: flex;
  align-items: center;
  padding: 0px 100px;
  background-color: black;
}
nav div{
  font-size: 35px;
  font-weight: bold;
  color: white;
}
nav span{
  width: 35px;
  height: 35px;
  fill: white;
}
main{
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 300px
}
.container{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.books{
  display: flex;
  gap: 20px;
}
.add-book{
  height: 240px;
  width: 200px;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  background-clip: content-box;
  box-shadow: inset 0 0 4px 10px black;
}
.new-book{
  height: 240px;
  width: 200px;
  border: none;
  background-color: #172554;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  gap: 20px;
  box-shadow: 0px 3px 5px gray;
}

.add-book div{
  font-size: 100px;
  font-weight: bold;
  cursor: pointer;
}
.add-book div:hover{
  color: #172554;
}

.title-fields{
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
}
.title-field label span,.author-field label span, .pages-field label span, .pages-read-field label span{
  color: red;
}
.books-finished span, .books-not-read span, .books-in-progress span{
  color: #172554;
}
#dialog {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: 4px solid black;
  border-radius: 5px;
}
dialog::backdrop {
  backdrop-filter: blur(8px);
}
form{
  padding: 10px 10px;
}
.fields{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.title{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
}
.title-field label, .author-field label, .pages-field label, .pages-read-field label{
  font-size: 20px;
}
.pages-read-field div{
  width: 100%;
  background-color: #172554;
}
.padding{
  height: 30px;
  padding: 5px 5px;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

input[type=text], input[type=number]{
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border: 3px solid black;
  outline: none;
  border-radius: 3px;
}
input[type=text]:focus, input[type=number]:focus{
  border: 3px solid #172554;

}

input:invalid{
  border: 3px solid red;
}
.buttons-flex{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.buttons-flex button{
  width: 100px;
  height: 40px;
}
.buttons-flex .create{
  background-color: #172554;
  color: white;
  font-weight: bold;
  transition: opacity 0.15s;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.buttons-flex .cancel{
  background-color: black;
  color: white;
  font-weight: bold;
  transition: opacity 0.15s;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.buttons-flex .create:hover{
  background-color: white;
  color: #172554;
  opacity: 0.7;
  border: 3px solid #172554;
  border-radius: 3px;
}
.buttons-flex .cancel:hover{
  background-color: white;
  color: black;
  opacity: 0.7;
  border: 3px solid black;
  border-radius: 3px;
}

footer{
  grid-row-start: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div a{
  font-size: 20px;
  font-weight: bold;
  color: black;
}